@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <h4><a asp-controller="Vendors" asp-action="Vendor" class="btn-outline-primary">Vendors</a>.</h4>
</div>
